USE [RestorauntDB]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 30.03.2026 20:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dishes]    Script Date: 30.03.2026 20:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dishes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Description] [text] NULL,
	[Price] [money] NULL,
	[CategoryID] [int] NULL,
	[IsAvailable] [bit] NULL,
 CONSTRAINT [PK_Dishes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 30.03.2026 20:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[DishID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [money] NULL,
	[Subtotal] [decimal](10, 2) NULL,
	[Notes] [text] NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30.03.2026 20:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](50) NULL,
	[UserID] [int] NULL,
	[TableNumber] [int] NULL,
	[CustomerCount] [int] NULL,
	[OrderDate] [date] NULL,
	[StatusID] [int] NULL,
	[TotalAmount] [money] NULL,
	[Notes] [text] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30.03.2026 20:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 30.03.2026 20:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30.03.2026 20:46:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Passwords] [nvarchar](50) NULL,
	[FullName] [nvarchar](250) NULL,
	[RoleID] [int] NOT NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name]) VALUES (1, N'Закуски')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (2, N'Супы')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (3, N'Горячие блюда')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Dishes] ON 

INSERT [dbo].[Dishes] ([ID], [Name], [Description], [Price], [CategoryID], [IsAvailable]) VALUES (1, N'Цезарь с курицей', N'Классический салат с курицей, листьями салата, пармезаном и соусом Цезарь', 450.0000, 1, 1)
INSERT [dbo].[Dishes] ([ID], [Name], [Description], [Price], [CategoryID], [IsAvailable]) VALUES (2, N'Брускетта с томатами', N'Хрустящий багет с томатами, чесноком, базиликом и оливковым маслом', 280.0000, 1, 1)
INSERT [dbo].[Dishes] ([ID], [Name], [Description], [Price], [CategoryID], [IsAvailable]) VALUES (3, N'Сельдь под шубой', N'Традиционный слоеный салат с сельдью, свеклой, морковью и картофелем', 320.0000, 1, 1)
SET IDENTITY_INSERT [dbo].[Dishes] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON 

INSERT [dbo].[OrderItems] ([ID], [OrderID], [DishID], [Quantity], [UnitPrice], [Subtotal], [Notes]) VALUES (1, 1, 1, 1, 450.0000, CAST(450.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[OrderItems] ([ID], [OrderID], [DishID], [Quantity], [UnitPrice], [Subtotal], [Notes]) VALUES (2, 1, 4, 1, 290.0000, CAST(290.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[OrderItems] ([ID], [OrderID], [DishID], [Quantity], [UnitPrice], [Subtotal], [Notes]) VALUES (3, 1, 14, 2, 150.0000, CAST(300.00 AS Decimal(10, 2)), N'Без сахара')
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([ID], [OrderNumber], [UserID], [TableNumber], [CustomerCount], [OrderDate], [StatusID], [TotalAmount], [Notes]) VALUES (1, N'ORD-20240328-001', 3, 5, 2, CAST(N'2024-03-28' AS Date), 4, 920.0000, N'Без лука, пожалуйста')
INSERT [dbo].[Orders] ([ID], [OrderNumber], [UserID], [TableNumber], [CustomerCount], [OrderDate], [StatusID], [TotalAmount], [Notes]) VALUES (2, N'ORD-20240328-002', 3, 8, 4, CAST(N'2024-03-28' AS Date), 3, 1720.0000, N'Побыстрее, пожалуйста')
INSERT [dbo].[Orders] ([ID], [OrderNumber], [UserID], [TableNumber], [CustomerCount], [OrderDate], [StatusID], [TotalAmount], [Notes]) VALUES (3, N'ORD-20240328-003', 4, 3, 1, CAST(N'2024-03-28' AS Date), 2, 420.0000, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([ID], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (2, N'Manager')
INSERT [dbo].[Roles] ([ID], [Name]) VALUES (3, N'Waiter')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([ID], [Name]) VALUES (1, N'В ожидании')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (2, N'Готовится')
INSERT [dbo].[Status] ([ID], [Name]) VALUES (3, N'Готов к выдаче')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserName], [Passwords], [FullName], [RoleID], [IsActive]) VALUES (1, N'admin', N'1', N'Администратор системы', 1, 1)
INSERT [dbo].[Users] ([ID], [UserName], [Passwords], [FullName], [RoleID], [IsActive]) VALUES (2, N'manager', N'2', N'Иванов Петр Сергеевич', 2, 1)
INSERT [dbo].[Users] ([ID], [UserName], [Passwords], [FullName], [RoleID], [IsActive]) VALUES (3, N'waiter1', N'3', N'Сидорова Анна', 3, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Dishes]  WITH CHECK ADD  CONSTRAINT [FK_Dishes_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Dishes] CHECK CONSTRAINT [FK_Dishes_Categories]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Dishes] FOREIGN KEY([DishID])
REFERENCES [dbo].[Dishes] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Dishes]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([StatusID])
REFERENCES [dbo].[Status] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
